@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@layer base {
  html,
  body {
    font-family: "Reddit Sans", sans-serif;
    background-color: #f4f6f6;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}
